<% include header.ejs %>

<h1>Tigers (<%= tigers.length %>)</h1>

<ol>
    <% tigers.forEach(function(tiger, i) { %>
        <li <% if(i % 2 != 0) { %> class="bg-primary" <% } %> >
            <%= tiger %>
        </li>
    <% }); %>
</ol>

<a href="/add">Add tiger</a></br>
<a href="/update">Update tiger</a></br>
<a href="/delete">Delete tiger</a></br>

<% include footer.ejs %>